.dashboard {
    &--event_list, &--event_creation, &--event_summary {
        background-color: $color-white;
        border: 1px solid $color-grey;
        margin: 1rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        position: relative;
        padding-top: 7rem;

        &--title {
            position: absolute;
            top: 2rem;
            left: 3rem;
            font-family: $font-heading;
            font-size: 2.4rem;
            font-weight: 600;
            opacity: 0.7;
            user-select: none;
        }
    }

    &--event_summary {
        grid-column: full-start / 6;
        grid-row: full-start / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;

        &--list {
            display: flex;

            &--item {
                font-size: 2rem;
                font-weight: 500;
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-right: 3rem;
                    padding-right: 3rem;
                    border-right: 5px solid $color-primary;
                }

                svg {
                    font-size: 2.4rem;
                    margin-right: 1rem;
                }

                &-active_trackers svg {
                    font-size: 4.4rem;
                }                

                &--key {
                    margin-right: 2rem;
                }
                &--value {
                    color: $color-primary;
                    font-weight: 700;
                    font-size: 2.8rem;
                }
            }
        }
    }

    &--event_list {
        grid-column: 6 / full-end;
        grid-row: full-start / full-end;
        padding: 8rem 10rem 15rem 10rem;

        &--list {
            display: flex;
            flex-direction: column;

            &--item {
                display: flex;
                font-size: 1.8rem;
                background-color: $color-white-2;
                border-radius: 4px;
                padding: 3rem 4rem 1rem 2rem;
                cursor: pointer;
                transition: all .3s;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                &:hover {
                    background-color: $color-primary;
                    color: $color-white;
                    transform: translateX(-1rem);
                }

                &--group {
                    display: flex;
                }

                &--id, &--type, &--name, &--priority {
                    position: relative;

                    &--label {
                        user-select: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(0, -100%);
                        font-family: $font-heading;
                        font-weight: 700;
                        opacity: 0.7;
                        font-size: 1.3rem;
                        text-transform: uppercase;
                    }
                }

                &--id {
                    font-weight: 700;
                    margin-right: 4rem;
                }
                &--type {
                    font-weight: 700;
                    margin-right: 8rem;
                }
                &--name {
                    font-family: $font-heading;
                }
                &--priority {
                    font-family: $font-heading;
                    font-weight: 700;

                    &--label {
                        left: 50%;
                        transform: translate(-50%, -100%);
                    }
                }
            }            
        }

        &--view_all {
            position: absolute;
            right: 4rem;
            bottom: 4rem;
        }
    }

    &--event_creation {
        grid-column: full-start / 6;
        grid-row: 3 / full-end;
        display: flex;
        justify-content: center;

        &--form {

        }
    }
} 
