.btn {
    font-size: 1.8rem;
    font-weight: 600;
    border: 1px solid $color-grey;
    user-select: none;
    padding: 1rem 1.75rem;
    border-radius: 8px;
    background-color: $color-primary;
    color: $color-white;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: $color-primary-dark;
    }
    &:active {
        background-color: $color-primary-dark-2;
    }

    &-success {
        background-color: $color-success;

        &:hover {
            background-color: darken($color-success, 5%);
        }
        &:active {
            background-color: darken($color-success, 10%);
        }
    }
    &-error {
        background-color: $color-error;

        &:hover {
            background-color: darken($color-error, 5%);
        }
        &:active {
            background-color: darken($color-error, 10%);
        }
    }
    &-warning {
        background-color: $color-warning;

        &:hover {
            background-color: darken($color-warning, 5%);
        }
        &:active {
            background-color: darken($color-warning, 10%);
        }
    }
    &-secondary {
        background-color: $color-grey;
        color: #000;

        &:hover {
            background-color: darken($color-grey, 5%);
        }
        &:active {
            background-color: darken($color-grey, 10%);
        }
    }
}