.select {    
    &--btn {
        position: relative;
        font-size: 1.9rem;
        font-weight: 400;
        padding: 0.25rem 1rem;
        border: 2px solid transparent;
        border-radius: 4px;
        transition: all .3s;
        background-color: $color-white-2;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: $color-grey;
        }
    }

    &--list {
        position: absolute;
        top: -1rem;
        left: 0;
        transform: translateY(-100%);
        background-color: $color-grey;
        width: 100%;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border: 1px solid $color-grey-3;
        border-radius: 4px;
        max-height: 20rem;
        overflow-y: auto;

        &--item {
            padding: 0.25rem 1rem;
            user-select: none;
            transition: all .3s;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $color-white;
            }

            &--placeholder {
                width: 4rem;
                margin-right: 1rem;
            }

            svg {
                width: 4rem;
                font-size: 2.8rem;
                margin-right: 1rem;
            }
        }
    }
}