.tracker_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.6);
    z-index: 100;
    cursor: pointer;

    &--popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        width: 60rem;
        min-height: 70rem;
        max-height: 80rem;
        overflow-y: auto;
        background-color: $color-white;
        z-index: 101;
        cursor: default;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 3rem;

        &--tracker {
            display: flex;
            flex-direction: column;

            &--header {
                margin-top: 4rem;
                padding-right: 3rem;
                display: flex;
                justify-content: space-between;

                &--group {
                    display: flex;
                }

                &--id, &--name, &--type, &--priority {
                    position: relative;
                    font-size: 2rem;

                    &--label {
                        user-select: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(0, -100%);
                        font-family: $font-heading;
                        font-weight: 700;
                        opacity: 0.7;
                        font-size: 1.6rem;
                        text-transform: uppercase;
                    }
                }

                &--id {
                    font-weight: 700;
                    margin-right: 6rem;
                }
                &--type {
                    font-weight: 700;
                    margin-right: 8rem;
                    width: 6rem;
                }
                &--name {
                    font-family: $font-heading;
                    font-weight: 400;
                }
                &--priority {
                    font-family: $font-heading;
                    font-weight: 700;

                    &--label {
                        left: 50%;
                        transform: translate(-50%, -100%);
                    }
                }
            }

            &--description, &--related_events {
                position: relative;
                &--label {
                    user-select: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(0, -100%);
                    font-family: $font-heading;
                    font-weight: 700;
                    opacity: 0.7;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                }
            }

            &--description {
                margin-top: 5rem;
                font-size: 1.8rem;
            }

            &--related_events {
                margin-top: 5rem;
                padding-top: 3rem;
                display: flex;
                flex-direction: column;
                
                &--item {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 3rem;
                    padding-right: 3rem;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-grey;
                        padding-bottom: 1rem;
                        margin-bottom: 1rem;
                    }

                    &--group {
                        display: flex;
                    }

                    &--id, &--type, &--name, &--priority {
                        position: relative;
                        font-size: 2rem;
    
                        &--label {
                            user-select: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: translate(0, -100%);
                            font-family: $font-heading;
                            font-weight: 700;
                            opacity: 0.7;
                            font-size: 1.6rem;
                            text-transform: uppercase;
                        }    
                    }

                    &--id {
                        font-weight: 700;
                        margin-right: 6rem;
                    }
                    &--type {
                        font-weight: 700;
                        margin-right: 8rem;
                        width: 6rem;
                    }
                    &--name {
                        font-family: $font-heading;
                        font-weight: 400;
                    }
                    &--priority {
                        font-family: $font-heading;
                        font-weight: 700;
    
                        &--label {
                            left: 50%;
                            transform: translate(-50%, -100%);
                        }
                    }
                }
            }
        }

        &--footer {
            display: flex;
            justify-content: flex-end;

            &--action {

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }
}