.nav {
    display: flex;
    flex-direction: row;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    justify-content: space-between;  
    align-items: center;
    font-family: $font-primary; 
    padding: 0 10rem 0 5rem; 
    background-color: $color-white;
    border-bottom: 1px solid $color-grey;        
}